.calendar {
	padding: 10px;
	color:#565656;
	font-family:'HelveticaNeue-Medium';
	padding-bottom: 0;
}
.calendar .unit {
	float:left;
	width:14.28%;
	text-align:center
}
.calendar .years .prev {
	text-align:left;
	width: 25%;
}
.calendar .years .next {
	text-align:right;
	float: right;
	width: 25%;
}
.calendar .years .next em, .calendar .years .prev em {
	position:relative;
	display:inline-block;
	width: 14px;
	height: 14px;
	cursor:pointer;
	border:1px solid #fff;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%
}
.calendar .years .next a:hover, .calendar .years .next a:hover span, .calendar .years .next a:focus, .calendar .years .prev a:hover, .calendar .years .prev a:hover span, .calendar .years .prev a:focus {
	text-decoration: none;
	color: #1681bc;
}
.calendar .years .next em:before, .calendar .years .prev em:before {
	position:absolute;
	display:block;
	width:0;
	height:0;
	margin-top:6px;
	font-size:0;
	content:"";
	border-style:solid;
	border-width:7px
}
.calendar .years .prev em:before {
	top: -5px;
	left:4px;
	border-color:transparent #22a7f0 transparent transparent
}
.calendar .years .next em:before {
	top: -5px;
	right: 4px;
	border-color:transparent transparent transparent #22a7f0
}
.calendar .years .next em:active, .calendar .years .next em:hover, .calendar .years .prev em:active, .calendar .years .prev em:hover {
	border-color:#ffffff
}
.calendar .years .prev em:active:before, .calendar .years .prev em:hover:before {
	border-color:transparent #1681bc transparent transparent
}
.calendar .years .next em:active:before, .calendar .years .next em:hover:before {
	border-color:transparent transparent transparent #1681bc
}
.calendar .years .next span, .calendar .years .prev span {
	position:relative;
	color: #22a7f0;
	font-family:'HelveticaNeue-Light';
	line-height: 34px;
	text-align: left;
}
.calendar .years .prev span {
	padding-left: 15px;
}
.calendar .years .next span {
	padding-right: 11px;
}
.calendar .years .monyear {
	overflow: hidden;
	height:34px;
	line-height:34px;
	text-align:center;
	color: #282828;
	text-transform: uppercase;
}
.calendar .years .monyear span {
	font-family:'HelveticaNeue-Light';
}
.calendar .days {
	padding-top:10px;
}
.calendar .days .unit {
	height: 30px;
	margin-bottom: 4px;
	line-height: 27px;
	text-align:center
}
.calendar .days .unit b {
	width:30px;
	height:30px;
	font-weight:400;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%
	color: #282828;
}
.calendar .days .unit:active b, .calendar .days .unit.active b {
	color: #ffffff;
	background-color: #22a7f0;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	cursor:pointer;
	display:inline-block;
}
.calendar .days .unit.active:hover b {
	color: #ffffff;
	background-color: #22a7f0;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	cursor:pointer;
	display:inline-block;
}
.calendar .days .unit:hover b {
	display:inline-block;
	color: #565656;
	cursor:pointer;
	background-color: transparent;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
.calendar .days .unit.older b {
	width:auto;
	height:auto;
	color:#a0a0a0;
	cursor:default;
	background-color:transparent
}
.calendar .days .dayname {
	color: #a0a0a0;
}
.inactive {
	position: relative;
}
.inactive:after {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	content: "";
	background-color: #a7dcf9;
}
.activelive {
	position: relative;
}
.activelive:after {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	content: "";
	background-color: #22a7f0;
}
.activeliveholo {
	position: relative;
}
.activeliveholo:after {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	content: "";
	background-color: #ffffff;
	border: 2px solid #22a7f0;
}
.inactiveholo {
	position: relative;
}
.inactiveholo:after {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	content: "";
	background-color: #ffffff;
	border: 2px solid #a7dcf9;
}
.exc {
	position: relative;
}
.exc:before {
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	top: 0;
	right: 10px;
	content: "";
	background-image: url(../images/exc.png); 
}
.innerblog .calendar .days .unit b {
	font-size: 13px;
	line-height: 28px;
}